@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["isDashboard"] = true;
}

@* Main Widget *@
<div class="row mb-4 ml-4">
    @* income *@
    <div class="col-md-4">
        <div class="d-flex flex-column justify-content-center p-5 m-auto py-3 widget summary income">
                <span class="lead">Total Income</span>
                <h4 class="display-6 fw-bold">@ViewBag.TotalIncome</h4>
            </div>
    </div>

    @* expense *@
    <div class="col-md-4">      
            <div class="d-flex flex-column justify-content-center p-5 m-auto py-3 widget summary expense">
                <span class="lead">Total Expense</span>
                <h4 class="display-6 fw-bold">@ViewBag.TotalExpense</h4>
            </div>
    </div>

    @* balance *@
    <div class="col-md-4">
            <div class="d-flex flex-column justify-content-center p-5 m-auto py-3 widget summary balance">
                <span class="lead">Total Balance</span>
                <h4 class="display-6 fw-bold">@ViewBag.Balance</h4>
            </div>
        </div>
</div>

@* Charts *@
<div class="row mb-4">
    <div class="col-md-4">
        <div class="widget chart">
            <div class="p-4">
                <h4 class="fw-bold">Expense By Category</h4>
            </div>
            <ejs-accumulationchart id="doughnutchart">
                <e-accumulation-series-collection>
                    <e-accumulation-series dataSource="@ViewBag.DoughnutChartData"
                                           xName="categoryTitleWithIcon" yName="amount"
                    innerRadius="60%" legendShape="Circle"
                                           palettes="@(new string[]{"#00021E","#001133","#00264A","#153B62","#32527B","#105496","#1770C8","#40E0D0"})"></e-accumulation-series>
                    <e-accumulation-series-datalabel name="formattedAmount" visible></e-accumulation-series-datalabel>
                 </e-accumulation-series-collection>
                    <e-accumulationchart-legendsettings position="Bottom">
                        <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                    </e-accumulationchart-legendsettings>
                    <e-accumulationchart-tooltipsettings enable></e-accumulationchart-tooltipsettings>
            </ejs-accumulationchart>
        </div>
    </div>
   @* spine chart *@
    <div class="col-md-8">
        <div class="widget chart">
            <div class="p-4">
                <h4 class="fw-bold">Income vs Expense</h4>
            </div>
            <ejs-chart id="spline-chart" palettes="@(new string[]{"#0e0afa","#FF0000"})">
                <e-chart-primaryxaxis valueType="Category">
                    <e-majorgridlines width="0"></e-majorgridlines>
                </e-chart-primaryxaxis>
                <e-chart-primaryyaxis>
                    <e-majorgridlines width="1" color="#32414d" dashArray="3,5"></e-majorgridlines>
                    <e-majorticklines width="0"></e-majorticklines>
                </e-chart-primaryyaxis>
                <e-chart-chartarea>
                    <e-chartarea-border width="0"></e-chartarea-border>
                </e-chart-chartarea>
                <e-series-collection>
                    @* income *@
                    <e-series dataSource="@ViewBag.SplineChartData" width="3" xName="day" yName="income" name="Income"
                    type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                    @* expenses *@
                    <e-series dataSource="@ViewBag.SplineChartData" width="3" xName="day" yName="expense" name="Expense"
                              type="@Syncfusion.EJ2.Charts.ChartSeriesType.Spline"></e-series>
                </e-series-collection>
                 <e-chart-legendsettings position="Top" alignment="Far">
                        <e-legendsettings-textstyle color="#fff" size="1rem"></e-legendsettings-textstyle>
                    </e-chart-legendsettings>
                    <e-chart-tooltipsettings enable></e-chart-tooltipsettings>
            </ejs-chart>
        </div>
    </div>
</div>

@* Recent Transaction Data *@
<div class="row">
    <div class="col-md-7">
        <div class="widget">
            <div class="p-4">
                <h5 class="fw-bold">Recent Transactions</h5>
            </div>
            <div class="px-4 pb-4">
                <ejs-grid id="recent-transactions" dataSource="@ViewBag.RecentTransactions" gridLines="None" >
                    <e-grid-columns>
                        <e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
                        <e-grid-column headerText="Date" field="Date" type="date" format="MMM-dd-yyyy"></e-grid-column>
                        <e-grid-column headerText="Amount" field="FormattedAmount"></e-grid-column>
                    </e-grid-columns>
                </ejs-grid>
            </div>
         </div>
        </div>
    </div>
